{% extends 'base_create_routine.html' %}

{% block page-title %}Create Routine{% endblock page-title %}

{% block step %}
    <div class="step container">
        
        <div id="page-number" data-page-number="{{page}}"></div>
        <div id="selected-device" data-previously-selected-device="{{previously_selected_devices}}"></div>
        <div id="device-attribute" data-device-atribute="{{selected_devices_attributes}}"></div>
        <div id="created-routines" data-created-routines="{{previously_created_routines}}"></div>

        
        <div class="row">
            <div class="col">
                <p class="mb-4"><h4 class='text-center'>Your preselected devices are :</h4></p>

                <div class='row justify-content-center'>
                    {% for device in previously_selected_devices %}
                        <div class="col-sm-1 card cards w-25 mb-2 px-0 me-3">
                            <div class="card-body text-center" id="{{device}}" data-index="{{forloop.counter0}}" onclick="showAttributes('{{device}}')">{{device}}</div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class='row'>
                    {% comment %} <div class='col-3'></div>  {% endcomment %}

                    <div class='col-10 d-flex'>
                        <div class="ms-5">
                            <p class="mb-4"><h4>State and Commands:</h4></p>
                            <div>  
                                {% for device_attribute in selected_devices_attributes%}
                                    <div id="state-{{forloop.counter0}}" style='display:none;'>
                                        {% for attribute_desc in device_attribute.all %}                       
                                            <div>
                                                <p class="lead">
                                                    {{attribute_desc.attribute}} : {{attribute_desc.action}}
                                                </p>
                                                <p class='ps-4'>
                                                    -  {{attribute_desc.description}}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>                                   
                                {% endfor %}                                                                                            
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
            <div class="col" >
                <p class="mb-4"><h4 class='text-center'>Create your routines :</h4></p>
                <div id="routineHolder"> 
                    <div class="col" id="routineField">
                        <div class="row text-center justify-content-center" >
                            <div class="col-1">
                                If
                            </div>
                            <div class="trig col-5">
                                <textarea class="form-control" id="trigger" rows="2"></textarea>
                            </div>
                            <div class="col-1">
                                Then
                            </div>
                            <div class="act col-5">
                                <textarea class="form-control" id="action" rows="2"></textarea>
                            </div>
                        </div>
                        <br> 
                    </div>                          
                </div>
                                    
                <div class="text-center pt-3">
                    <button id="addRoutineBtn" class="btn btn-light btn-outline-success" type="button" onclick="addNewRoutine()" style="font-size:16px"><b>Add Routine</b></button>
                </div>
            </div>
        </div>       
    </div>

{% endblock step %}

{% block script-2 %}
    {% load static %}
    <script src="{% static 'create_routine_script.js' %}"></script>
{% endblock script-2 %}