{% extends 'base_create_routine.html' %}

{% block page-title %}Create Routine{% endblock page-title %}
{% block stylesheet-2 %}

    {% load static %}
    <link id="pagestyle" href="{% static 'style_create_routine.css' %}" type="text/css" rel="stylesheet" />

{% endblock stylesheet-2 %}
{% block step %}
    <div class="step container">
        
        <div id="page-number" data-page-number="{{page}}"></div>
        <div id="selected-device" data-previously-selected-device="{{previously_selected_devices}}"></div>
        <div id="device-attribute" data-device-atribute="{{selected_devices_attributes}}"></div>
        <div id="created-routines" data-created-routines="{{previously_created_routines}}"></div>
        <div id="environmental-variables" data-environmental-variables="{{environmental_variables}}"></div>
        
        <div class="row">
            <div class="col">
                
                <p class="mb-4"><h4 class='text-center'>Environmental Variables:</h4></p>

                <div class='row justify-content-center'>
                    {% for env_var in environmental_variables %}
                        <div class="col-sm-1 card cards w-25 mb-2 px-0 me-3 align-middle">
                            <div class="card-body text-center align-middle" id="{{env_var.0}}" data-index-env-var="{{forloop.counter0}}" onclick="showEnvVarAttributes('{{forloop.counter0}}')">{{env_var.0}}</div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class='row'>
                    <div class='col-10 d-flex'>
                        <div class="ms-5">
                            {% comment %} <p class="mb-4"><h4>State and Commands:</h4></p> {% endcomment %}
                            <div>  
                                {% for env_var in environmental_variables%}
                                    <div id="state-environmental-variables-{{forloop.counter0}}" style='display:none;'>     
                                        <p class="lead">
                                            <b>Description</b>
                                        </p>
                                        <p class='ps-4'>
                                            -  {{env_var.1}}
                                        </p>                    
                                    </div>                                   
                                {% endfor %}                                                                                            
                            </div>
                        </div>                     
                    </div>
                </div><br>

                <p class="mb-4"><h4 class='text-center'>Your selected devices are :</h4></p>

                <div class='row justify-content-center'>
                    {% for device in previously_selected_devices %}
                        <div class="col-sm-1 card cards w-25 mb-2 px-0 me-3 align-middle">
                            <div class="card-body text-center align-middle" id="{{device}}" data-index="{{forloop.counter0}}" onclick="showAttributes('{{device}}')">{{device}}</div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class='row'>
                    <div class='col-10 d-flex'>
                        <div class="ms-5">
                            <p class="mb-4"><h4>State and Commands:</h4></p>
                            <div>  
                                {% for device_attribute in selected_devices_attributes%}
                                    <div id="state-{{forloop.counter0}}" data-attribute="{{device_attribute}}" style='display:none;'>
                                        {% for attribute_desc in device_attribute %}                       
                                            <div>
                                                <p class="lead">
                                                    {{attribute_desc.0}} : {{attribute_desc.1}}
                                                </p>
                                                <p class='ps-4'>
                                                    -  {{attribute_desc.2}}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>                                   
                                {% endfor %}                                                                                            
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
            <div class="col" >
                <p class="mb-4"><h4 class='text-center'>Create your routines :</h4></p>
                
                {% for routine in previously_created_routines %}
                    <div class="row text-center justify-content-center" >
                        <div class="col-1">
                            If
                        </div>
                        <div class="trig autocomplete col-5">
                            <textarea class="form-control" id="trigger{{forloop.counter}}" rows="2">{{routine.0}}</textarea>
                        </div>
                        <div class="col-1">
                            Then
                        </div>
                        <div class="act autocomplete col-5">
                            <textarea class="form-control"   id="action{{forloop.counter}}" rows="2">{{routine.1}}</textarea>
                        </div>
                    </div><br>
                {% endfor %}
                
                <div id="routineHolder"> 
                    <div class="col" id="routineField">
                        <div class="row text-center justify-content-center" >
                            <div class="col-1">
                                If
                            </div>
                            <div class="trig autocomplete col-5">
                                <textarea class="form-control" id="trigger" rows="2"></textarea>
                            </div>
                            <div class="col-1">
                                Then
                            </div>
                            <div class="act autocomplete col-5">
                                <textarea class="form-control" id="action" rows="2"></textarea>
                            </div>
                        </div><br> 
                    </div>                          
                </div>
                                    
                <div class="text-center pt-3">
                    <button id="addRoutineBtn" class="btn btn-light btn-outline-success" type="button" onclick="addNewRoutine()" style="font-size:16px"><b>Add Routine</b></button>
                </div>
            </div>
        </div>       
    </div>

{% endblock step %}

{% block script-2 %}
    {% load static %}
    <script src="{% static 'create_routine_script.js' %}"></script>
{% endblock script-2 %}