{% extends 'base_create_routine.html' %}

{% block page-title %}Edit Delete Routine{% endblock page-title %}

{% block step %}
   <div class="step container">      
		<div id="page-number" data-page-number="{{page}}"></div>

		<div class="col">
			<div class="row">
				<div class="col-6">
					<p class="mb-4"><h4 class='text-center'>Your previously created Routines</h4></p>
				</div>
				<div class="col-3">
					<p class="mb-4"><h4 class='text-center'>Update Routine</h4></p>
				</div>
				<div class="col-3">
					<p class="mb-4"><h4 class='text-center'>Delete Routine</h4></p>
				</div>
			</div>	
			
			<div class="row">
				<div class="col-6">
					<div class="row text-center justify-content-center" >
						<div class="col-1">
							If
						</div>
						<div class="trig col-5">
							<textarea class="form-control" id="trigger" rows="2">user at home,</textarea>
						</div>
						<div class="col-1">
							Then
						</div>
						<div class="act col-5">
							<textarea class="form-control" id="action" rows="2">turn on the light</textarea>
						</div>
					</div>
				</div>
				<div class="col-3 text-center">					
					<a class="btn btn-outline-light bg-success btn-rounded btn-Success btn-lg m-2" role="button"><b>Update</b></a>
				</div>
				<div class="col-3 text-center">
					<a class="btn btn-outline-light btn-rounded btn-danger btn-lg m-2" role="button"><b>Delete</b></a>
				</div>
			</div><br>

			<div class="row">
				<div class="col-6">
					<div class="row text-center justify-content-center" >
						<div class="col-1">
							If
						</div>
						<div class="trig col-5">
							<textarea class="form-control" id="trigger" rows="2">it is evening,</textarea>
						</div>
						<div class="col-1">
							Then
						</div>
						<div class="act col-5">
							<textarea class="form-control" id="action" rows="2">turn on the gas stove</textarea>
						</div>
					</div>
				</div>
				<div class="col-3 text-center">					
					<a class="btn btn-outline-light bg-success btn-rounded btn-Success btn-lg m-2" role="button"><b>Update</b></a>
				</div>
				<div class="col-3 text-center">
					<a class="btn btn-outline-light btn-rounded btn-danger btn-lg m-2" role="button"><b>Delete</b></a>
				</div>
			</div><br>

			<div class="row">
				<div class="col-6">
					<div class="row text-center justify-content-center" >
						<div class="col-1">
							If
						</div>
						<div class="trig col-5">
							<textarea class="form-control" id="trigger" rows="2">it is evening,</textarea>
						</div>
						<div class="col-1">
							Then
						</div>
						<div class="act col-5">
							<textarea class="form-control" id="action" rows="2">turn on the Air Cooler</textarea>
						</div>
					</div>
				</div>
				<div class="col-3 text-center">					
					<a class="btn btn-outline-light bg-success btn-rounded btn-Success btn-lg m-2" role="button"><b>Update</b></a>
				</div>
				<div class="col-3 text-center">
					<a class="btn btn-outline-light btn-rounded btn-danger btn-lg m-2" role="button"><b>Delete</b></a>
				</div>
			</div><br>
			
		</div>

		
      
   </div>
{% endblock step %}