{% extends 'base_create_routine.html' %}

{% block page-title %}Create EI{% endblock page-title %}

{% block stylesheet-2 %}

    {% load static %}
    <link id="pagestyle" href="{% static 'style_EI_page.css' %}" type="text/css" rel="stylesheet" />

{% endblock stylesheet-2 %}


{% block step %}

    <div class="step">
        <div class="d-flex card-header bg-white justify-content-center" id="routine-create-page-title">
            <div class="row w-auto px-5 bg-gradient pt-1 align-items-center text-white" id="routine-create-page-inner-title">
                <h4 class='text-center px-2 py-1'>Select Execution Indicator</h4>
            </div> 
        </div>
        {% comment %} <p class="mb-4"><h4 class='text-center'>Select Execution Indicator</h4></p> {% endcomment %}
        
        <div id="page-number" data-page-number="{{page}}"></div>
        <div id="created-routines" data-created-routines="{{created_routines_list}}"></div>


        <div class="col m-3">
            <div class="row">
                <div class="routine-heading col-4 me-4 ms-3">
                    <p class="mb-4"><h4>Previously Created Routines</h4></p>
                </div>
                
                <div class="EI1 col-2 me-2">
                    <p class="mb-4"><h6 class='text-left'>How often, on average, do you expect each of your routines to execute based on your interaction with your smart home device?</h6></p>
                </div>
                <div class="EI2 col-1 me-2">
                    <p class="mb-4"><h6 class='text-left'>When is your routine more likely to execute?</h6></p>
                </div>
                <div class="EI3 col-2 me-2">
                    <p class="mb-4"><h6 class='text-left'>For a given day, please select the time around which you'd expect your routines to execute. Please select all that apply.</h6></p>
                </div>
                <div class="EI4 col-1 me-2">
                    <p class="mb-4"><h6 class='text-left'>How are your routines triggered?</h6></p>
                </div>
                <div class="EI5 col-1 me-2">
                    <p class="mb-4"><h6 class='text-left'>Where is your routine located?</h6></p>
                </div>
            </div>


            {% for routine in created_routines_list %}
                <div class="row">
                    <div class="routine col-4 me-4 ms-3">
                        <p class="routine1 fs-5" id="routine-{{forloop.counter}}">{{forloop.counter}}. If {{routine.0}}, then {{routine.1}}</p>
                    </div>
                    <div class="option col-1 me-4">
                        <select class="selectpicker p-2 fs-6" style="width: 215%;" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="Many times in a day (5+ /day)">Many times in a day (5+ /day)</option>
                            <option value="Few times in a day (1-5/day)">Few times in a day (1-5/day)</option>
                            <option value="Few times in a week (1-5/week)">Few times in a week (1-5/week)</option>
                            <option value="Few times in a month">Few times in a month</option>
                            <option value="Few times in a year">Few times in a year</option>
                            <option value="Not Sure">Not Sure</option>
                        </select>
                    </div>
                    <div class="option col-1 ms-5">
                        <select class="selectpicker w-100 ms-5 p-2 fs-6" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="Weekday">Weekday</option>
                            <option value="Weekend">Weekend</option>
                            <option value="Anytime">Anytime</option>
                            <option value="Not sure">Not sure</option>
                        </select>
                    </div>
                    <div class="option col-1 ms-5 me-5">
                        <select class="selectpicker ms-3 me-2 p-2 fs-6" style="width: 220%;" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="Morning(6am- 11am)">Morning(6am- 11am)</option>
                            <option value="Around noon(11am-1pm)">Around noon(11am-1pm)</option>
                            <option value="Afternoon(1pm-5pm)">Afternoon(1pm-5pm)</option>
                            <option value="Evening(5pm-8pm)">Evening(5pm-8pm)</option>
                            <option value="Night(8pm-6am)">Night(8pm-6am)</option>
                            <option value="Anytime">Anytime</option>
                            <option value="Not sure">Not sure</option>
                        </select>
                    </div>
                    <div class="option col-1 ms-5">
                        <select class="selectpicker w-100 ms-5 p-2 fs-6" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="Scheduled-time (e.g., brew coffee at 7 am)">Scheduled-time (e.g., brew coffee at 7 am)</option>
                            <option value="Manually-triggered (e.g., a button press)">Manually-triggered (e.g., a button press)</option>
                            <option value="Executed at random (e.g., every time I enter the room)">Executed at random (e.g., every time I enter the room)</option>
                        </select>
                    </div>
                    <div class="option col-1 ms-5">
                        <select class="selectpicker w-100 p-2 fs-6" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="Bedroom">Bedroom</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Balcony">Balcony</option>
                            <option value="Drawing Room">Drawing Room</option>
                            <option value="Dining Room">Dining Room</option>
                        </select>
                    </div>
                
                </div> <br>
		    {% endfor %}

            
        </div>
        
        
    </div>

{% endblock step %}

{% block script-2 %}
    {% load static %}
    <script src="{% static 'execution_indicator_script.js' %}"></script>
{% endblock script-2 %}