{% extends 'base_create_routine.html' %}

{% block page-title %}Select Device{% endblock page-title %}


{% block step %}

    <div class="step">

        <div class="d-flex card-header bg-white justify-content-center" id="routine-create-page-title">
            <div class="row w-auto px-5 bg-gradient pt-1 align-items-center" id="routine-create-page-inner-title">
                <h4 class='text-center px-2 py-1' style="color: #004d00">Select Your Device</h4>
            </div> 
        </div>
        
        <div class="container">
            
            <div id="page-number" data-page-number="{{page}}"></div>
            <div id="selected-device" data-selected-device="{{previously_selected_devices}}"></div>

            <div class="d-flex mt-4 justify-content-center text-center">
                <div class="col">
                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Appliances</h5>
                        <div class="row d-flex justify-content-center">                           
                            {% for device in appliances_devices %}    
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-2 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %}    
                            {% endfor %}
                        </div><br>                            
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Kitchen & Cleaning</h5>
                        <div class="row d-flex justify-content-center">
                            {% for device in kitchen_and_cleaning_devices %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %} 
                            {% endfor %}
                        </div><br>
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Security & Safety</h5>
                        <div class="row d-flex justify-content-center">                           
                            {% for device in security_and_safety %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %}
                            {% endfor %}
                        </div><br>
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Health & Multimedia</h5>
                        <div class="row d-flex justify-content-center">
                            {% for device in health_and_multimedia %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %}
                                
                            {% endfor %}
                        </div><br>
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Lights and Switches</h5>
                        <div class="row d-flex justify-content-center">                           
                            {% for device in lights_and_switches %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %}
                                
                            {% endfor %}
                        </div><br>
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Gardening Devices</h5>
                        <div class="row d-flex justify-content-center">  
                                                        
                            {% for device in gardening_devices %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %} 
                            {% endfor %}
                        </div><br>
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Sensors</h5>
                        <div class="row d-flex justify-content-center">                           
                            {% for device in sensors_devices %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %}
                                
                            {% endfor %}
                        </div><br>
                    {% comment %} </div> {% endcomment %}

                    {% comment %} <div class="row"> {% endcomment %}
                        <h5>Others</h5>
                        <div class="row d-flex justify-content-center">       
                            {% for device in others_devices %}
                                {% for key, value in device.items %}
                                    {% if key == "device_name" %}
                                        <div class="col-sm-1 card cards w-auto mb-2 px-0 me-3 align-middle">
                                            <div class="card-body" id="{{value}}" onclick="selectedCard('{{value}}')">{{value}}</div>
                                        </div>
                                    {% endif %}   
                                {% endfor %}    
                            {% endfor %}                               
                        </div>                                                       
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>
        </div>            
    </div>
{% endblock step %}

{% block script-2 %}
    {% load static %}
    <script src="{% static 'select_device_script.js' %}"></script>
{% endblock script-2 %}
