{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block stylesheet %}
    <style>
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none;
        }

        body {
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }

        .cover-container {
            max-width: 42em;
        }
    </style>
{% endblock stylesheet %} 


{% block body %} 

    <div class="container-fluid min-vh-100 d-flex justify-content-center h-100 p-3 pt-5 text-center bg-white">
        <div class="cover-container w-100 h-100">
            <main class="px-3">
                <h1 class="text-success">Hello there!</h1>
                <p class="lead text-dark"><b>Welcome to HELion survey! We appriciate your participation. Don't worry about your data. It is very important to us. It will not be public.</b></p>
                
                <div class="row">
                    <div class="col-6 mx-auto">
                        <div class="d-flex align-items-center justify-content-evenly">
                            <a class="btn btn-outline-light bg-success btn-rounded btn-Success p-2" href="http://127.0.0.1:8000/home/search/search-routine" role="button"><b>Search Routine</b></a>
                            <a class="btn btn-outline-light bg-success btn-rounded btn-Success p-2" href="http://127.0.0.1:8000/home/create/select-device" role="button"><b>Create Routine</b></a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


{% endblock body %}