{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% comment %} {% block stylesheet %}

    {% load static %}
    <link id="pagestyle" href="{% static 'style_search_page.css' %}" type="text/css" rel="stylesheet" />

{% endblock stylesheet %}  {% endcomment %}

{% block body %}

    <div class="container row w-100 min-vh-100 h-100 m-auto mt-4 p-5 shadow-lg">
      {% comment %} <div class="col">
        <div class="row"> {% endcomment %}
          <div class="col px-5 d-flex justify-content-center">

            <form name="myform" method="GET" action="{% url 'search' %}">  
                <div class="btn-group text-center" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                  <label class="btn btn-outline-success" for="btnradio1">Search by User Id</label>

                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-success" for="btnradio2">Search by Device Name</label>
                </div>

                <div class="row w-auto text-center shadow mt-3" style="height: 50px;">
                  <input type="text" class="form-control rounded border-success" name="id" id="id" placeholder="Enter user ID or device name">
                </div>
                <div class="row pt-2 justify-content-center ">
                  <button type="submit" class="btn bg-success routine-search-btn btn-outline-success shadow text-light text-center" style="font-size:120%;  width:auto;"><b>Search</b></button>
                </div>
            </form> 
          </div>
        </div> 

        <div class="row pt-5 px-5">
          {% if created_routines %}
            <h4 class="text-center">Search result for query "{{user_id}}"</h4>
            {% for routine in created_routines %}
              <div class="row" >
                <div class="col">
                  <p class="routine1 fs-5" id="routine-{{forloop.counter}}" style="width: 105%;" >{{forloop.counter}}. If {{routine.trigger}}, then {{routine.action}}</p>
                </div>
              </div><br>
            {% endfor %}
          {% endif %}
        {% comment %} </div>
      </div> {% endcomment %}
    </div>

{% endblock body %}
{% block script-1 %}
    {% load static %}
    <script src="{% static 'search_page_script.js' %}"></script>
{% endblock script-1 %}