{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% comment %} {% block stylesheet %}

    {% load static %}
    <link id="pagestyle" href="{% static 'style_search_page.css' %}" type="text/css" rel="stylesheet" />

{% endblock stylesheet %}  {% endcomment %}

{% block body %}

    <div class="container row d-flex  w-100 min-vh-100 h-100 m-5 p-5 shadow-lg">
      <div class="col">
        <div class="row">
          <div class="col px-5 justify-content-center">
            <form name="myform" method="GET" action="{% url 'search' %}">  
                <div class="row w-auto text-center shadow" style="height: 50px;">
                  <input type="text" class="form-control rounded border-success" name="id" id="id" placeholder="Enter your ID">
                </div>
                <div class="row pt-2 justify-content-center ">
                  <button type="submit" class="btn bg-success btn-outline-success shadow text-light text-center" style="font-size:130%;  width:100px;"><b>Search</b></button>
                </div>
            </form> 
          </div>
        </div> 

        <div class="row pt-5">
          {% if created_routines %}
            {% for routine in created_routines %}
              <div class="row px-5 ms-2" >
                <div class="col">
                  <p class="routine1 fs-5" id="routine-{{forloop.counter}}" style="width: 105%;" >{{forloop.counter}}. If {{routine.trigger}}, then {{routine.action}}</p>
                </div>
              </div><br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

{% endblock body %}