.card.final-card{
    border-radius: 12px;
    border: 2px solid #198754;
}

#EI-heading  {
    font-size: 100%;
}

.routine1 {
    hyphens: auto;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }