#routine-create-page-title{
    -webkit-box-shadow: 0px 0px 0px -3px #ffffff;
    -moz-box-shadow: 0px 0px 0px -3px #ffffff;
    box-shadow: 0px 0px 0px -3px #ffffff;
    border-bottom: 0px solid rgba(0,0,0,.125);
}
