.selectpicker{
    border-radius:10px; 
    background-color: #e9f5ee;
}

.routine1 {
    hyphens: auto;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
