.form-check-input[type="checkbox"] {
    position: relative;
    filter: grayscale(1);
    width:10px;
    height: 10px;
    transform: scale(0.7);
    outline: 1px solid #198754;
    left: 15px;
    
    top: -5px;
}

/* .form-check-input[type="checkbox"]:checked:after {
    color: #198754;
} */



  /* style="accent-color: #198754; filter: grayscale(1); width:10px; height: 10px; transform: scale(0.7); outline: 1px solid #198754;" */