{% extends 'base.html' %}

{% block title %}Tutorial{% endblock title %}

{% block stylesheet %}

    {% load static %}
    <link id="pagestyle" href="{% static 'style_tutorial.css' %}" type="text/css" rel="stylesheet" />

{% endblock stylesheet %}

{% block body %}
    <div class="container-fluid d-flex col pt-5 pb-3 m-2 justify-content-center">
        <div class="row text-center mb-5" style="width:60%">
            <h3>Follow the tutorial below to learn how to create routines</h3>
            
            <iframe class="mt-3" width="320" height="415" src="https://youtu.be/7zc60Jz8_-U" title="How to create routines" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
    </div>
{% endblock body %}